.dashboard-wrapper {
    background:url('../../../geometry.png') #4dbecd;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}
.dashboard-wrapper .wizard-logo {
    height: 10vmin;
    pointer-events: none;
    margin-right: 2rem;
}

.dashboard-wrapper .header {
    color: white;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
}

.header .home {
    text-decoration:none;
    font-size: 2rem;
    color: #7731b4;
    font-weight: 600;
    margin-left: auto;
}
.student-resources {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.student-resources h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}
.student-resources a {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #7731b4;
    -webkit-box-shadow: 0 0.25rem 0 0 #7731b4;
    box-shadow: 0 0.25rem 0 0 #7731b4;
    width: 125px;
    text-decoration: none;
    background-color:  #7731b4;
    color: #fff;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
}
.student-resources a:hover {
    opacity: 0.65;
}
.module-container {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
.module {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.0625rem solid #edf2f6;
    -webkit-box-shadow: 0 0.25rem 0 0 #edf2f6;
    box-shadow: 0 0.25rem 0 0 #edf2f6;
    padding: 1rem;
    padding-left: 1.6rem;
    margin: 2rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.module h3 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #7731b4;
}
/* .module a, .module .activities a {
    text-decoration:none;
    font-size: 1.4rem;
    cursor: pointer;
}
.activities a:last-of-type, .module a{
    margin-left: 1rem;
    margin-right: 1rem;
}
.module a:hover {
    color: #4bbac9;
} */
.module .activities {
    display: flex;
}
.module button.dashboard {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #7731b4;
    width: 100px;
    background-color:  #7731b4;
    color: #fff;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
}
.module button.dashboard:hover {
    opacity: 0.65;
}
.module button.dashboard:last-of-type {
    margin-left: 16px;
}

@media (max-width: 800px){
    .dashboard-wrapper .header {
        width: 90%;
        flex-direction: column-reverse;
    }
    .dashboard-wrapper .wizard-logo {
        height: 20vmin;
        margin-right: 0;
    }
    .student-resources {
        width: 90%;
        flex-wrap: wrap;
        align-items: center;
    }
    .student-resources h3 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 500px){ 
    .dashboard-wrapper .wizard-logo {
        height: 20vmin;
        margin-right: 0;
    }
    .student-resources {
        flex-direction: column;
    }
    .student-resources a {
        margin-bottom: 1.6rem;
    }
   .module {
       flex-direction: column;
   }
   .activities a:last-of-type, .module a{
    margin-left: 0;
}

}
