.dashboard-wrapper {
    background:url('../../../geometry.png') #00f5d4;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    padding: 2rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;  
}

.dashboard-wrapper .header {
    color: white;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .home, .header h1 {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.header .home:hover {
    color: #f15bb5ff;
}

.module-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}
.module {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.6rem;
    margin: 2rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.module h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #494331;
    margin-bottom: 0;
    font-weight: 400;
}

.module p {
    font-size: 1.6rem;
    color: #494331;
} 
.module .activities {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.module button.dashboard {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    border-radius: 0.5rem;
    border: 0.0625rem solid #f15bb5ff;
    width: 100px;
    background-color:  #f15bb5ff;
    color: #fff;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.module button.dashboard:hover {
    opacity: 0.65;
    cursor: pointer
}
.module button.dashboard:last-of-type {
    margin-left: 16px;
}

@media (max-width: 1100px){
    .module {
        width: 45%
    }
}
@media (max-width: 800px){
    .dashboard-wrapper .header {
        width: 90%;
    }
    .dashboard-wrapper .developer-logo {
        height: 20vmin;
        margin-right: 0;
    }
    .student-resources {
        width: 90%;
        flex-wrap: wrap;
        align-items: center;
    }
    .student-resources h3 {
        width: 100%;
        text-align: center;
    }
    .module {
        width: 45%;
    }
}
.dashboard-wrapper span {
    margin-right: 5px;
}
@media (max-width: 540px){ 
    .dashboard-wrapper .developer-logo {
        height: 20vmin;
        margin-right: 0;
    }
    .dashboard-wrapper .header {
        width: 100%;
    }
    .student-resources {
        flex-direction: column;
    }
    .student-resources a {
        margin-bottom: 1.6rem;
    }
   .module {
       width: 95%;
   }
   .activities a:last-of-type, .module a{
    margin-left: 0;
}

}
@media screen and (max-width: 420px){
    .dashboard-wrapper .header {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
}