.form-wrapper {
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.0625rem solid #edf2f6;
    -webkit-box-shadow: 0 0.25rem 0 0 #edf2f6;
    box-shadow: 0 0.25rem 0 0 #edf2f6;
    padding: 1.25rem;
}

.form-header {
    height: 30%;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-header h2 {
    font-size: 2.4rem;
    color: #7731b4;
    font-weight: 600;
    text-transform: uppercase;
}

.wizard-logo {
    height: 20vmin;
    pointer-events: none;
}
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    font-size: 1.8rem;
    font-weight: 300;
    color: #7731b4;
    margin-bottom: 12px;
}

.form-group input {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.login-form button {
    width: 90%;
    background-color: #7731b4;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.8rem;
}
.login-form button:hover {
    opacity: 65%;
}

.login-form a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #7731b4;
}