.admin-page-wrapper {
    background:url('../../../geometry.png') #4dbecd;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}
.admin-page-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-page-wrapper .wizard-logo {
    height: 10vmin;
    pointer-events: none;
    margin-right: 2rem;
}
.admin-page-wrapper h1 {
    font-size: 3rem;
    color: white;
}
.admin-page-header a {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #7731b4;
    -webkit-box-shadow: 0 0.25rem 0 0 #7731b4;
    box-shadow: 0 0.25rem 0 0 #7731b4;
    width: 125px;
    text-decoration: none;
    background-color:  #7731b4;
    color: #fff;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.admin-page-header a:hover {
    opacity: 0.65;
}
.admin-page-form-wrapper {
    width: 60%;
    margin: 0 auto;
}

.admin-page-form-wrapper .form-group {
    margin: 10px 0;
    display: flex;
    align-items: baseline;
}

.admin-page-form-wrapper .form-group label, .admin-page-form-wrapper h3  {
    font-size: 1.8rem;
    font-weight: 300;
    color: #7731b4;
    margin: 0 8px 8px 12px;
}

.admin-page-form-wrapper h3 {
    margin-bottom: 0;
}

.admin-page-form-wrapper .form-group input, .admin-page-form-wrapper .form-group select {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.admin-page-form-wrapper .radio-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.admin-page-form-wrapper .radio-buttons label{
    margin: 0 10px 0 5px;
    padding: 0;
}


.admin-page-form-wrapper button {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #7731b4;
    -webkit-box-shadow: 0 0.25rem 0 0 #7731b4;
    box-shadow: 0 0.25rem 0 0 #7731b4;
    width: 125px;
    text-decoration: none;
    background-color:  #7731b4;
    color: #fff;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.admin-page-form-wrapper textarea {
    padding: 8px;
    font-size: 1.8rem;
}