.footer-wrapper {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #f15bb5;
    font-family: 'Montserrat', sans-serif;
}
.footer-wrapper p{
    font-size: 1.8rem;
    font-family: "Permanent Marker", sans-serif;
}
