.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  display: flex;
}

.App-main {
  background:url('./geometry.png') #00f5d4;
  ;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS HEX 
--amethyst: #9b5de5ff;
--magenta-crayola: #f15bb5ff;
--minion-yellow: #fee440ff;
--capri: #00bbf9ff;
--sea-green-crayola: #00f5d4ff;
*/